.subheader-wrapper{
  background: rgba(136, 141, 147, 0.08);
  height: 36px;
  display: flex;
  align-items: center;
}

.icon-size{
  font-size: 15px!important;
}

.subheader-wrapper h3{
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: #27459F;
}