.footer{
  height: 458px;
  position: relative;
  z-index: -1;
}

.navigation{
  border-bottom: 1px solid #F1F3F8;
  padding: 50px 0 20px 0;
}

.logo-footer{
  margin-bottom: 36px;
}

.nav-list{

}

.nav-list-item h3{
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.nav-list-item{
  list-style: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 8px 0;
}

.nav-link{
  text-decoration: none;
  color: #8492A6;;
}

.card-footer{
  background: #F9F9FA;
  border-radius: 4px;
  padding: 12px 15px 12px 16px;
  max-width: 330px;
}

.card-footer:first-child{
  margin-bottom: 16px;
}

.card-footer p{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1F2123;
  margin-bottom: 4px;
}

.card-footer h4{
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  font-family: 'Fira Sans', sans-serif;
}

.card-footer span{
  font-weight: 700;
}

.card-footer:nth-child(2) p{
  line-height: 24px;
  font-size: 15px;
}

.social-icons{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
  margin-top: 72px;
}

.social-icons-button{
  text-decoration: none;
  border-radius: 6px;
  background: #fff;
  color: #0052B3;
  width:39px;
  height: 39px;
  box-shadow: 0 4px 16px rgba(55, 55, 55, 0.08), 0 0 7px rgba(94, 92, 92, 0.1);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons-button:hover{
  background:#0052B3;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.copyright{
  height: 75px;
  padding-top: 16px;

}

.copyright-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright-wrapper h3{
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #8492A6;
}

.copyright-wrapper span{
  color: #464C52;
  margin-left: 5px;
  font-weight: 600;
}